
@font-face {
    font-family:"NunitoSans-Black" ;
    src: url(../recursos/fuentes/NunitoSans-Black.ttf);
}
@font-face {
    font-family:"NunitoSans-Regular";
    src: url(../recursos/fuentes/NunitoSans-Regular.ttf);
}
